# Python
__pycache__/
*.py[cod]
*.so
.Python
build/
dist/
*.egg-info/
.pytest_cache/
.mypy_cache/
.coverage

# Virtual environments
.venv/
venv/

# VS Code
.vscode/

# macOS
.DS_Store
**/.DS_Store

# GeoPackage-filer
*.gpkg
*.gpkg-shm
*.gpkg-wal
